<?xml version='1.0' encoding='utf-8'?>
<widget id="com.easierbycode.mobiledemo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LifeDemo</name>
    <description>
        Cordova app for Lifepreneur extension demo.
    </description>
    <author email="dev@easierbycode.com" href="https://easierbycode.com">
        EasierByCode Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="InAppBrowserStatusBarStyle" value="lightcontent" />
</widget>
